{% extends "layouts/_default.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h3 class="mb-0">Deudores</h3>
        <hr class="my-3" />
        <div class="mb-3">
            <a class="btn btn-primary" href="{{ url_for("debtor.create") }}">
                Agregar
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="table-dark">
                  <tr>
                    <th scope="col" style="width: 60px;">#</th>
                    <th scope="col" style="width: 350px;">Nombre</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  {% for debtor in debtors %}
                    {% set row_detail = "detail-debtor-" + loop.index|string %}                  
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td>{{debtor.name}}</td>
                      <td>
                        <span class="badge {{"bg-danger" if debtor.debt else "bg-success" }}">
                          {{debtor.debt if debtor.debt else "LIMPIO" }}
                        </span>
                      </td>
                      <td>
                        <a href="{{url_for("debts.edit", debt_id=debtor.id)}}">
                          Ver
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
  </div>


</div>
{% endblock %}
