{% extends "layouts/_default.html" %}
{% from "macros/_form.html" import form_field, form_submit, single_field %}

{% block content %}
    <h3 class="mb-0">Editar una deuda</h3>
    <hr class="my-3" />
    
    <form action="{{ url_for('debts.edit', debt_id=debt.id) }}" method="POST" name="debts_form" novalidate>

        <h4>Deudor</h4>
        <h4 class="fw-bold mb-3">{{debt.debtor.name}}</h4>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6">
                {{ form_field(form.concept) }}
            </div>
            <div class="col-md-3">
                {{ form_field(form.currency) }}
            </div>
            <div class="col-md-3">
                {{ form_field(form.value) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_field(form.interest) }}
            </div>
        </div>
        <div class="d-flex justify-content-end">
            {{ form_submit(form.submit) }}        
        </div>
    </form>

    <h4>Agregar Pago</h4>
    {% include 'payments/create.html' %}


{% endblock %}